.wrapper {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cards div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 13px;
  border-radius: 13px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cards div img {
  margin-top: 15px;
  width: 250px;
  height: 210px;
}
